<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="eva_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="leftshoulder_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftshoulder_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leftshoulder_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftshoulder_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leftbicep">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftbicep']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leftelbow">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftelbow']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leftforearm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftforearm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="leftwrist">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftwrist']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightshoulder_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightshoulder_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightshoulder_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightshoulder_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightbicep">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightbicep']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightelbow">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightelbow']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightforearm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightforearm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightwrist">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightwrist']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
